<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Spare Partz</title>
</head>
<body>
    <div class="nav">
        <h1 class="logo">SparePartz</h1>

        <div class="icons">
            <a href="#">Favourites</a>
            <a href="#">Messages</a>
            <a href="#">Notifications</a>
            <a href="#">Premium</a>
            <a href="#">My Ads</a>
        </div>  

        <button class="btn">Sell</button>
    </div>

    <div class="container">
        <img class="img-cont" src="images/user.png">

        <h1 class="header-1">Automobiles</h1>
        <p class="header-1-p">0712345678</p>

        <a href="#"><button class="btn">How it Works</button></a>
        <br>
        <a href="#"><button class="btn">My Adverts</button></a>
        <br>
        <a href="#"><button class="btn">Feedback</button></a>
        <br>
        <a href="#"><button class="btn">Frequently Asked Questions</button></a>
    </div>

    <div class="container-1">

        <div class="container-1-nav">
            <ul>
                <li><button class="btn-1">Adverts(0)</button></li>
                <li><button class="btn-1">Reviewing(0)</button></li>
                <li><button class="btn-1">Declined(0)</button></li>
                <li><button class="btn-1">Draft(0)</button></li>
                <li><button class="btn-1">Closed(0)</button></li>
                <li><button class="btn-1">All(0)</button></li>
            </ul>
        </div>


        <div class="line"></div>

    </div>

    

   

    
    

    

    

    
    



   
</body>
</html>