<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style1.css') }}">
    <title>Spare Partz</title>
</head>
<body>
    
    <div class="nav">
        <h1 class="logo">SparePartz</h1>

        <ul>
            <a href="#" id="signBtn"><li>SignIn</li></a>&nbsp;&nbsp;|
            <a href="#" id="register"><li>Registration</li></a>
        </ul>


    </div>

    <div class="header">
         <img class="header-img" src="{{ url_for('static',filename='images/header1.png') }}">
        
        <form method="post" action="/login">
            <h1>Log In</h1>
            <br>
            <input type="email" name="email" placeholder="Email">
            <br>
            <br>
            <input style="font:small-caption;font-size:20px" type="password" name="password" placeholder="Password">
            <br>
            <br>
            <input type="submit" value = "Submit"> 

        </form>
    
    </div>

  
 
</body>
</html>